body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#searchContainer {
    text-align: center;
    margin: 20px;
}

#ticketContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
