.back-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

.seating-chart {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

.hero-btns {
    margin-top: 5px;
    margin-left: -1px;
    padding: 10px 20px;
}