.game-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 20px 0;
  }
  
  .game-box {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 80%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
  }
  
  .game-box:hover {
    transform: scale(1.05);
    border-color: #7f9665;
  }
  
  .game-box.selected {
    border-color: #7f9665;
    background-color: #f0f8ff;
  }
  
  .hero-concerts {
    height: 70vh;
    width: 100%;
    height: fit-content;
    max-height: 80vh;
  } 

  .concerts-title {
    max-width: 1000px;
    padding: 20px;
    font-size: 1.8rem;
    /*margin-bottom: 20px;*/
    color: #333;
    margin: 20px auto;
  }

  .game-info {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers everything horizontally */
    gap: 15px; /* Adds spacing between logos and text */
  }
  
  .concert-logo {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    object-fit: contain;
  }
  
  .game-text {
    text-align: center;
    font-size: 1.1rem;
  }