.seating-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: auto; 
  overflow: visible; 
  padding-bottom: 40px; /* Increased padding to create more space */
  margin: 0 auto;
}

.seating-chart-svg {
  width: 80%; /* Changed from 80% to 100% */
  height: auto; 
  max-width: 1000px; /* Increased max-width */
  max-height: 100vh; /* Adjusted to prevent overwhelming page */
}

.seating-chart-svg svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.seat-section {
    cursor: pointer;
    transition: fill 0.2s;
}

