:root {
    --primary: #fff;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #7f9665;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #7f9665;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #7f9665;
}

.btn--primary {
    background-color: var(--primary);
    color: #7f9665;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 8px 20px;
    /* border: 1px solid var(--primary); */
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
    /* background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
    background-color: rgb(175, 175, 175); */
    color: white;
    box-shadow: inset 0 -100px 0 0 #7f9665;
}